<div id="flash" data-controller="flash">
  <% flash.each do |type, message| %>
    <div class="<%= flash_classes(type) %>" data-flash-target="message">
      <%= message %>
    </div>
  <% end %>
</div>